/* app.css */

@import 'colors.css';

/* <---Estilos Welcome *--->*/
body {
    background-color: var(--color-background);
}

.jumbotron {
    background-color: var(--color-primary-dark);
    color: var(--color-titles);
    border-radius: 0;
    height: 95vh; /* 95% de la altura de la pantalla */
    width: 100%; /* 100% del ancho de la pantalla */
}

.jumbotron h1 {
    font-size: 3.5rem;
}

.jumbotron p {
    font-size: 1.5rem;
}

.btn-primary {
    background-color: var(--color-primary); 
    border-color: var(--color-primary);
}

.btn-primary:hover {
    background-color: var(--color-primary-darkest); 
    border-color: var(--color-primary-darkest); 
}


/* <---Estilos Navbar --->*/
.navbar {
    background-color: var(--color-primary);
}

.navbar-nav .nav-link {
    color: var(--color-titles);
}

.navbar-nav .nav-item:last-child .nav-link {
    background-color: var(--color-primary); 
    color: #fff;
    border-radius: 5px; 
    padding: 8px 16px;
}

.navbar-nav .nav-item:last-child .nav-link:hover {
    background-color: var(--color-primary-darkest); 
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo oscuro semi-transparente */
    z-index: 999; /* Asegúrate de que el overlay esté por encima de otros elementos */
    display: none; /* Inicialmente oculto */
}

